{% extends 'base/main.html' %}

{% block content %}
{% if page == 'register' %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      {% for field in form %}
        {{ field.label_tag }}
        <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}" value="{{ field.value }}">
        {% if field.errors %}
          <span style="color: red;">{{ field.errors|join:", " }}</span>
        {% endif %}
        <br>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endif %}



{% if page == 'login' %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
      <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
     <dir>
      <small>Haven't signed up yet?</small>
      <a href="{% url 'register' %}">register</a>
    </dir>
</div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


{% endif %}

{% endblock content %}
